<title>Ising Model</title>
<div class="clearfix simulation-container">
    <div class="canvas-side">
        <div class="canvas-container">
            <canvas width=600 height=600 #canvas></canvas>
        </div>
    </div>
    <div class="options-side">
        <div class="explanation-container">
            <p-fieldset legend="Information">
                <p>The SIRS model is a model of disease transmission. The model is governed by a cycle of states:</p>
                <div id="sirs-image-container">
                    <div class="image-container"><img src="assets/equations/sirs-first.svg"></div>
                    <div class="image-container"><img src="assets/equations/sirs-second.svg"></div>
                </div>
                Each transition has an associated probability used to control the behaviour of the model:
                <div id="sirs-image-container">
                    <div class="image-container"><img src="assets/equations/sirs-probabilities.svg"></div>
                </div>
            </p-fieldset>
        </div>
        <div class="stats-container">
            <p-fieldset legend="Simulation">
                <div><span>Ticks:  {{frame}}</span></div>
                <div><span>Updates: {{flipAttempts}}</span></div>
                <div class="row">
                    <label for="sizeInput">Size</label>
                    <input type="number" min="1" id="size-input" name="sizeInput" [(ngModel)]="candidateSize"><br>
                </div>
                <div class="row">
                    <label for="repaintInput">Repaint on update: </label>
                    <input type="checkbox" name="repaintInput" [(ngModel)]="repaintOnUpdate"><br>
                </div>
                <button (click)="toggleRunning()">{{ running ? "Stop" : "Start"}}</button>
                <button [disabled]="running" (click)="tick()">Step</button>
                <button [disabled]="running" (click)="reset()">Reset</button>
            </p-fieldset>
        </div>
        <div class="options-container">
            <p-fieldset disabled="running" legend="Model">
                    <div class="row">
                        <label for="siInput">S -> I</label>
                        <input type="number" step="0.01" min="0" id="infection-input" name="siInput" [(ngModel)]="config.susceptibleToInfectedProbability"><br>
                    </div>
                    <div class="row">
                        <label for="irInput">I -> R</label>
                        <input type="number" step="0.01" min="0" id="recovery-input" name="boltzmannInput" [(ngModel)]="config.infectedToRecoveredProbability"><br>
                    </div>
                    <div class="row">
                        <label for="rsInput">R -> S</label>
                        <input type="number" step="0.01" id="relapse-input" name="interactionStrengthInput" [(ngModel)]="config.recoveredToSusceptibleProbability"><br>     
                    </div>
                    <div class="row">
                        <label for="updatesPerTickInput">Updates Per Tick</label>
                        <input type="number" min="0" oninput="this.value = Math.abs(this.value)" id="updates-per-tick-input" name="updatesPerTickInput" [(ngModel)]="updatesPerTick"><br>
                    </div>
                    <div class="row">
                        <label for="immunityToggle">Repaint on update: </label>
                        <input type="checkbox" name="immunityToggle" [(ngModel)]="enableImmunity"><br>
                    </div>
                    <button (click)="applySettings()">Apply</button>
                    <button (click)="resetSettings()">Reset</button>
            </p-fieldset>
        </div>
    </div>
</div>




