<title>Cellular Potts Model</title>
<div class="clearfix simulation-container">
    <div class="canvas-side">
        <div class="canvas-container">
            <canvas #canvas></canvas>
        </div>
    </div>
    <div class="options-side">
        <div class="stats-container">
            <p-fieldset legend="Simulation">
                <div><span>Ticks:  {{frame}}</span></div>
                <div><span>Updates: {{flipAttempts}}</span></div>
                <div class="row">
                    <label for="sizeInput">Size</label>
                    <input type="number" min="1" id="size-input" name="sizeInput" [(ngModel)]="candidateSize"><br>
                </div>
                <div class="row">
                    <label for="repaintInput">Repaint on update: </label>
                    <input type="checkbox" name="repaintInput" [(ngModel)]="repaintOnUpdate"><br>
                </div>
                <button (click)="toggleRunning()">{{ running ? "Stop" : "Start"}}</button>
                <button [disabled]="running" (click)="tick()">Step</button>
                <button [disabled]="running" (click)="reset()">Reset</button>
            </p-fieldset>
        </div>
        <div class="options-container">
            <p-fieldset disabled="running" legend="Model">
                <div class="row">
                    <label for="numberOfStatesInput">Number of States</label>
                    <input type="number" min="2" oninput="this.value = Math.abs(this.value)" id="number-of-states-input" name="numberOfStatesInput" [(ngModel)]="numberOfStates"><br>
                </div>
                    <div class="row">
                        <label for="updatesPerTickInput">Updates Per Tick</label>
                        <input type="number" min="0" oninput="this.value = Math.abs(this.value)" id="updates-per-tick-input" name="updatesPerTickInput" [(ngModel)]="updatesPerTick"><br>
                    </div>
                    <button (click)="applySettings()">Apply</button>
                    <button (click)="resetSettings()">Reset</button>
            </p-fieldset>
        </div>
    </div>
</div>




