<div class="overlay" *ngIf="processing">
    <i class="fas fa-spin fa-spinner"></i>
    <p>Loading</p>
</div>
<div id="transposer-page">

    <div id="info-container">
        <p-fieldset legend="Information" [toggleable]="true">
            <p>This tool is used to extract a subset of data from a delimited data file (e.g. csv) into a number of smaller files.
                Very large file inputs are supported, but due to limited control over browser memory behaviour it is not recommended to operate on files which exceed your machine's RAM.</p>
            <ul>
                <li><p>Choose a file at the bottom of the page</p></li>
                <li><p>Select the number of fields in the file</p></li>
                <li><p>Select the file delimiter character</p></li>
                <li><p>Choose which fields you want to extract from the file</p></li>
                <li><p>Choose your output formats and file size</p></li>
                <li><p>Hit 'process' to begin processing your file. Downloads will begin as the files are ready.</p></li>
                <li><p>You may receive a prompt for the first file, but subsequent files will be download automatically.</p></li>
            </ul>
        </p-fieldset>
    </div>

    <form id="transposer-form" [ngClass]="{'disabled': processing}">
        <legend class="ui-widget">Data Transposer</legend>

        <!-- Field Selector -->
        <div class="ui-grid-row">
            <div id="field-selection-container">
                <p-pickList [source]="allFields" [target]="selectedFields" [dragdrop]="true" sourceHeader="Available" targetHeader="Selected">
                    <ng-template let-field pTemplate="field">
                            <div>{{field.label}}</div>
                    </ng-template>
                </p-pickList>
            </div>
        </div>

        <!-- Inputs -->
        <div class="ui-grid-row">
            <p-fieldset disabled="running" legend="Input">
                <div class="ui-grid-row">
                    <div class="field">
                        <label for="separatorInput">Separator</label>
                        <input pInputText type="text" name="separatorInput" [(ngModel)]="separator"><br>
                    </div>
                    <div class="field">
                        <label for="fieldCountInput">Field Count</label>
                        <p-inputNumber min="1" name="fieldCountInput" [(ngModel)]="fieldCount" (ngModelChange)="updateSelectableFields()"></p-inputNumber>
                    </div>
                </div>
            </p-fieldset>
        </div>

        <!-- Outputs -->
        <div class="ui-grid-row">
            <p-fieldset disabled="running" legend="Output">
                <div class="ui-grid-row">
                    <div class="field">
                        <label for="outputSeparator">Separator</label>
                        <input pInputText type="text" name="outputSeparator" [(ngModel)]="outputSeparator"><br>
                    </div>
                    <div class="field">
                        <label for="outputLinesPerFile">File Extension</label>
                        <input pInputText type="text" name="outputExtension" [(ngModel)]="outputExtension"><br>
                    </div>
                    <div class="field" pTooltip="Affects output file size. One chunk is turned into one output file.">
                        <label for="kbPerChunk">Kilobytes Per Chunk</label>
                        <p-inputNumber min="1" name="kbPerChunk" [(ngModel)]="kbPerChunk"></p-inputNumber>
                    </div>
                </div>
            </p-fieldset>
        </div>
        <div class="field">
            <p-fileUpload #uploader name="fileInput" [showUploadButton]="true" [showCancelButton]="false" uploadLabel="Process" customUpload="true" (uploadHandler)="handleFileUpload($event)">
            </p-fileUpload>
        </div>
    </form>
</div>






