<title>Ising Model</title>
<div class="clearfix simulation-container">
    <div class="canvas-side">
        <div class="canvas-container">
            <canvas #canvas></canvas>
        </div>
    </div>
    <div class="options-side">
        <div class="explanation-container">
            <p-fieldset legend="Information">
                <p>The Ising Model is a lattice model which represents the dipole moments of atomic spins in a ferromagnetic material. The interaction hamiltonian is given by:</p>
                <div class="image-container"><img src="assets/equations/ising-hamiltonian.svg"></div>
                Where <b>J</b> is the interaction strength between adjacent spins (kept uniform for simplicity).
                
            </p-fieldset>
        </div>
        <div class="stats-container">
            <p-fieldset legend="Simulation">
                <div class="row"><span>Ticks:  {{frame}}</span></div>
                <div class="row"><span>Updates: {{flipAttempts}}</span></div>
                <div class="row"><span>Total Energy: {{totalEnergyString}}</span></div>
                <div class="row">
                    <label for="sizeInput">Size</label>
                    <input type="number" min="1" id="size-input" name="sizeInput" [(ngModel)]="candidateSize"><br>
                </div>
                <div class="row">
                    <label for="repaintInput">Repaint on update: </label>
                    <input type="checkbox" name="repaintInput" [(ngModel)]="repaintOnUpdate"><br>
                </div>
                <button (click)="toggleRunning()">{{ running ? "Stop" : "Start"}}</button>
                <button [disabled]="running" (click)="tick()">Step</button>
                <button [disabled]="running" (click)="reset()">Reset</button>
            </p-fieldset>
        </div>
        <div class="options-container">
            <p-fieldset disabled="running" legend="Model">
                    <div class="row">
                        <label for="temperatureInput">Temperature</label>
                        <input type="number" step="0.01" min="0" id="temperature-input" name="temperatureInput" [(ngModel)]="temperature"><br>
                    </div>
                    <div class="row">
                        <label for="boltzmannInput">Boltzmann</label>
                        <input type="number" step="0.01" min="0" id="boltzmann-input" name="boltzmannInput" [(ngModel)]="boltzmann"><br>
                    </div>
                    <div class="row">
                        <label for="interactionStrengthInput">Interaction Strength</label>
                        <input type="number" step="0.01" id="interaction-strength-input" name="interactionStrengthInput" [(ngModel)]="interactionStrength"><br>     
                    </div>
                    <div class="row">
                        <label for="dynamicsInput">Dynamics</label>
                        <p-dropdown [options]="dynamicsOptions" [(ngModel)]="dynamics" optionLabel="label"></p-dropdown>
                    </div>
                    <div class="row">
                        <label for="updatesPerTickInput">Updates Per Tick</label>
                        <input type="number" min="0" oninput="this.value = Math.abs(this.value)" id="updates-per-tick-input" name="updatesPerTickInput" [(ngModel)]="updatesPerTick"><br>
                    </div>
                    <button (click)="applySettings()">Apply</button>
                    <button (click)="resetSettings()">Reset</button>
            </p-fieldset>
        </div>
    </div>
</div>




