<title>Potts Model</title>
<div class="clearfix simulation-container">
    <div class="canvas-side">
        <div class="canvas-container">
            <canvas width=600 height=600 #canvas></canvas>
        </div>
    </div>
    <div class="options-side">
        <div class="explanation-container">
            <p-fieldset legend="Information">
                <p>The Mandelbrot Set is a set of complex numbers for which the following series does not converge:</p>
                <div class="image-container"><img src="assets/equations/mandelbrot.svg"></div>
                <p>Where C is the complex number being tested and Z<sub>0</sub> is 0. In this case 
                    coloring has been applied based on the number of iterations taken to diverge.</p>
                <br>
                <p>A Julia set is a wider category of set (to which Mandelbrot belongs) which uses a set number for C
                    rather than using the point being tested.</p>
            </p-fieldset>
        </div>
        <div class="options-container">
            <p-fieldset disabled="running" legend="Model">
                <div class="row">
                    <label for="realMin">Real (X): </label>
                    <input type="number" id="realMin" name="realMin" [(ngModel)]="realMin">
                    <input type="number" id="realMax" name="realMax" [(ngModel)]="realMax">
                </div>
                <div class="row">
                    <label for="imaginaryMin">Imaginary (Y): </label>
                    <input type="number" id="imaginaryMin" name="imaginaryMin" [(ngModel)]="imaginaryMin">
                    <input type="number" id="imaginaryMax" name="imaginaryMax" [(ngModel)]="imaginaryMax">
                </div>
                <div class="row">
                    <label for="numberOfIterationsToReachThreshold">Iterations to converge: </label>
                    <input type="number" id="numberOfIterationsToReachThreshold" name="numberOfIterationsToReachThreshold" [(ngModel)]="numberOfIterationsToReachThreshold">
                </div>
                <div class="row">
                    <label for="convergenceThreshold">Convergence Threshold: </label>
                    <input type="number" id="convergenceThreshold" name="convergenceThreshold" [(ngModel)]="convergenceThreshold">
                </div>
                <div class="row">
                    <label for="isJuliaSet">Julia Set: </label>
                    <input type="checkbox" name="isJuliaSet" [(ngModel)]="isJuliaSet">
                </div>
                <div class="row indented">
                    <label for="juliaReal">Real: </label>
                    <input [disabled]="!isJuliaSet" type="number" id="juliaReal" name="juliaReal" [(ngModel)]="juliaReal">
                </div>
                <div class="row indented">
                    <label for="juliaReal">Imaginary: </label>
                    <input [disabled]="!isJuliaSet" type="number" id="juliaImaginary" name="juliaImaginary" [(ngModel)]="juliaImaginary">
                </div>
                <div class="row" id="color-selection-mode-container">
                    <span>Colors: </span>
                    <p-radioButton name="colorMode1" value="grayscale" [(ngModel)]="colorMode" inputId="grayscale" (click)="repaint()"></p-radioButton>
                    <label for="colorMode1"> Grayscale</label>
                    <p-radioButton name="colorMode2" value="distinct" [(ngModel)]="colorMode" inputId="distinct" (click)="repaint()"></p-radioButton>
                    <label for="colorMode2"> Distinct</label>
                </div>
                <div class="row">
                    <label for="colorConvergentPoints">Color convergent points: </label>
                    <input type="checkbox" name="colorConvergentPoints" [(ngModel)]="colorConvergentPoints">
                </div>
                <div class="row">
                    <label for="colorDivergentPoints">Color divergent points: </label>
                    <input type="checkbox" name="colorDivergentPoints" [(ngModel)]="colorDivergentPoints">
                </div>
                <div class="row">
                    <button [disabled]="running" (click)="repaint()">Calculate</button>
                    <button [disabled]="running" (click)="reset()">Reset</button>
                </div>
            </p-fieldset>
        </div>
    </div>
</div>




