<div class="ui-grid-row">
    <div id="sirs-panel" class="navigation-panel">
        <i class="pi pi-fw pi-chart-bar"></i>
        <p class="page-label">SIRS Simulator</p>
    </div>
    <div id="ising-panel" class="navigation-panel">
        <i class="pi pi-fw pi-th-large"></i>
        <p class="page-label">Ising Simulator</p>
    </div>
    <div id="transposer-panel" class="navigation-panel">
        <i class="pi pi-fw pi-file"></i>
        <p class="page-label">Data Transposer</p>
    </div>
</div>
